<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="serviceHost" value="democluster-rsorlin.westeurope.cloudapp.azure.com"/>-->
    <add key="serviceHost" value="localhost"/>
    <add key="servicePort" value="8081"/>
    <add key="serviceUri" value="/matrixservice/api/matrix"/>
    <add key="updateInterval" value="100"/>
  </appSettings>
</configuration>